<div class="text-center m-5"> 
<h1>Crube do Livro</h1>
<%= link_to 'Meus Livros', articles_path, class: 'btn btn-primary btn-lg active' %>
<%= link_to 'Novo Livros', new_article_path, class: 'btn btn-primary btn-lg active' %>
<br>
</div>
